{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    <div class="row tm-row">
        {% if post.video %}
            <div class="col-12">
                <hr class="tm-hr-primary tm-mb-55">
                <video class="tm-mb-40" width="954" height="535" controls>
                    <source src="{{ post.video.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        {% else %}
            <div class="col-12">
                <hr class="tm-hr-primary tm-mb-55">
                <img class="tm-mb-40" src="{{ post.image.url }}" alt="Image" width="954" height="535">
            </div>
            </div>
        {% endif %}
    <div class="row tm-row">
        <div class="col-lg-8 tm-post-col">
            <div class="tm-post-full">
                <div class="mb-4">
                    <h2 class="pt-2 tm-color-primary tm-post-title">{{ post.title }}</h2>
                    <p class="tm-mb-40">{{ post.created|date:'d M Y' }} {{ post.author }}</p>
                    <p>{{ post.text|safe }}</p>
                    <p>{{ post.description|safe }}</p>
                    <span class="d-block text-right tm-color-primary">{{ post.tags.all|join:". " }}</span>
                </div>
                <div>
                    <h2 class="tm-color-primary tm-post-title">{% translate 'Comments' %}</h2>
                    <div>{{ comment.post }}</div>
                    <hr class="tm-hr-primary tm-mb-45">
                    {% for comment in post.get_comments %}
                        <div class="tm-comment tm-mb-45">
                            <figure class="tm-comment-figure">
                                {% if comment.image %}
                                    <img src="{{ comment.image.url }}" alt="Image"
                                         class="mb-2 rounded-circle img-thumbnail">
                                {% else %}
                                    <img src="{% static 'img/user.jpg' %}" alt="Image"
                                         class="mb-2 rounded-circle img-thumbnail">
                                {% endif %}
                                <figcaption class="tm-color-primary text-center">{{ comment.author }}</figcaption>
                            </figure>
                            <div>
                                <p>{{ comment.text }}</p>
                                <div class="d-flex justify-content-between">
                                    <a href="#formComment"
                                       onclick="{{ comment.name }} {{ comment.id }}"
                                       class="tm-color-primary">{% translate 'REPLY' %}</a>
                                    <span class="tm-color-primary">{{ comment.created|date:'d M Y' }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <form action="{% url 'add_comment' post.id %}" class="mb-5 tm-comment-form" method="post"
                          id="formComment">
                        {% csrf_token %}
                        <div class="mb-4">
                            <h2 class="tm-color-primary tm-post-title mb-4">{% translate 'Your comment' %}</h2>
                            {{ form.author }}
                        </div>
                        <div class="mb-4">
                            {{ form.email }}
                        </div>
                        <div class="mb-4">
                            {{ form.text }}
                        </div>
                        <div class="mb-4">
                            {{ form.captcha }}
                        </div>
                        <div class="text-right">
                            <button class="tm-btn tm-btn-primary tm-btn-small">{% translate 'Submit' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <aside class="col-lg-4 tm-aside-col">
            {% include 'blog/include/sidebar.html' %}
        </aside>
    </div>
{% endblock %}