{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="row tm-row tm-mb-45">
        <div class="col-12">
            <hr class="tm-hr-primary tm-mb-55">
            <img src="{{ about.image.url }}" alt="Image" class="img-fluid">
        </div>
    </div>
    <div class="row tm-row tm-mb-40">
        <div class="col-12">
            <div class="mb-4">
                <h2 class="pt-2 tm-mb-40 tm-color-primary tm-post-title">{% translate 'About this xtra blog' %}</h2>
                <p>{{ about.text }}</p>
            </div>
        </div>
    </div>
    <div class="row tm-row tm-mb-120">
        {% for card in cards %}
            <div class="col-lg-4 tm-about-col">
                <div class="tm-bg-gray tm-about-pad">
                    <div class="text-center tm-mt-40 tm-mb-60">
                        <img src="{{ card.image.url }}" alt="Image" class="fa-4x tm-color-primary">
                    </div>
                    <h2 class="mb-3 tm-color-primary tm-post-title">{{ card.title }}</h2>
                    <p class="mb-0 tm-line-height-short">{{ card.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row tm-row tm-mb-60">
        <div class="col-12">
            <hr class="tm-hr-primary  tm-mb-55">
        </div>
        {% for person in teams %}
            <div class="col-lg-6 tm-mb-60 tm-person-col">
                <div class="media tm-person">
                    <img src="{{ person.image.url }}" alt="Image" class="img-fluid mr-4">
                    <div class="media-body">
                        <h2 class="tm-color-primary tm-post-title mb-2">{{ person.name }}</h2>
                        <h3 class="tm-h3 mb-3">{{ person.postiton }}</h3>
                        <p class="mb-0 tm-line-height-short">{{ person.text }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
